# Enumerate
## List의 element를 추출할 때 index를 붙여서 추출

In [7]:
for v, i in enumerate(["tic", "tac", "tok"]):
    #list의 index와 value를 unpacking
    print(v,i)

0 tic
1 tac
2 tok

In [8]:
mylist = ["a", "b", "c", "d"]

list(enumerate(mylist)) #list의 index와 value를 unpacking하여 list로 저장

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [5]:
{i:j for i, j in enumerate("Hanyang University is the first engineering institute in South Korea.".split())}
#문장을 list로 만들고 list의 index와 value를 unpacking하여 dict로 저장

{0: 'Hanyang',
 1: 'University',
 2: 'is',
 3: 'the',
 4: 'first',
 5: 'engineering',
 6: 'institute',
 7: 'in',
 8: 'South',
 9: 'Korea.'}

# Zip
## 두 개의 list의 값을 병렬적으로 추출함

In [9]:
a_list = ["a1", "a2", "a3"]
b_list = ["b1", "b2", "b3"]

for a, b in zip(a_list, b_list): #두개의 list 안에 같은 index에 위치한 값들을 추출하는 방법
    print(a,b)

a1 b1
a2 b2
a3 b3

In [10]:
a_list = ["a1", "a2", "a3"]
b_list = ["b1", "b2", "b3"]

for x in zip(a_list, b_list): 
    print(x)

('a1', 'b1')
('a2', 'b2')
('a3', 'b3')

In [14]:
a,b,c = zip((1,2,3), (10,20,30), (100,200,300)) #각 tuple의 같은 index끼리 묶음
print(a,b,c)

(1, 10, 100) (2, 20, 200) (3, 30, 300)

In [15]:
[sum(x) for x in zip((1,2,3), (10,20,30), (100,200,300))] #각 tuple의 같은 index끼리 더하여 list로 반환

[111, 222, 333]

# Enumerate & Zip

In [16]:
a_list = ["a1", "a2", "a3"]
b_list = ["b1", "b2", "b3"]

for i, (a,b) in enumerate(zip(a_list, b_list)):
    print(i,a,b)

0 a1 b1
1 a2 b2
2 a3 b3